.my-extension-chip-container {
    background-color: #4caf50;
    color: white;
    border-radius: 12px;
    padding: 8px 8px;
    position: fixed;
    top: 100px;
    right: 0px;
    z-index: 9999;
}